
// start setup
@use "./styles/global.scss";

*,
::after,
::before {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
// end setup
body{
    background: var(--bg-white);
    font-family: 'DM Sans', 'sans serif';
    font-style: normal;
}