:root{
    --white: #fff;
    --black: #000;
    --gradient: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
    --light-grey: #dfdfdf;
    --shadow:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
    --feecbook: linear-gradient(225deg, #63AFDB 0%, #6028F1 100%);
    --youtube: linear-gradient(45deg, #D3205A 0%, #FF5A5A 100%);
    --twitter: linear-gradient(225deg, #65FFEB 0%, #27718A 100%);
    --pinterest: linear-gradient(225deg, #F6C683 0%, #DE3838 100%);
}