.link{
color: var(--black);
transition: color var(--transition), opacity var( --transition);

&:hover, &:focus, &:active, &:visited{
 color: var(--black);
 mix-blend-mode: normal;
 opacity: 0.3;
}
}

.footer__link{
    color: var(--white);
    transition: color var(--transition), opacity var( --transition);
    
    &:hover, &:focus, &:active, &:visited{
     color: var(--white);
     mix-blend-mode: normal;
     opacity: 0.3;
    } 
}